<div class="row">
  <div class="col-xs-12 text-center">
    <p class="text-justify">Become a Digimon expert with Digipedia!</p>
  </div>
</div>
<div class="row" *ngFor="let digimon of digimons">
  <div class="col-xs-12 d-flex justify-content-center">
    <app-digimon-card [digimon]="digimon"></app-digimon-card>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <button
      type="button"
      class="btn btn-warning"
      routerLink="/digimon-list"
      style="margin-top: 10px; border: 1px solid #212529"
    >
      Digimon List
    </button>
  </div>
</div>
